@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&family=VT323&display=swap');

.data {
    text-align: center;
}

h1 {
    font-family: 'VT323', monospace;
    font-size: 50px;
    text-align: center;
    color: rgb(90, 56, 56);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(90, 56, 56);
    margin-top: -20px;
}


p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;

}


label {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

main {
    padding: 28px;
    background-color: rgba(255, 255, 255, 0.749);
}

body {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 650px;
    background-image: url(https://i.pinimg.com/originals/72/d8/b2/72d8b2da120e194dd8b3fc25ffb6fddc.jpg)
}

#name {
    width: 45%;
    margin-left: 10px;
    text-align: left;
}

#email {
    width: 45%;
    margin-left: 13px;
    text-align: left;
}

#number {
    width: 45%;
    margin-left: 26px;
    text-align: left;
}

.reason {
    display: inline;
    margin-left: 180px;
    margin-top: -80px;
    margin-bottom: 20px;
    width: 45%;
    text-align: center;

}

.favorite {
    margin-bottom: 30px;
}


img {
    width: 32px;
    margin-left: 180px;
    margin-top: -30px;
    margin-bottom: 20px;
}


.sec-icon {
    width: 32px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}


.coffee {
    display: flex;
    margin-left: 60px;
    margin-top: -20px;
    width: 18%;
    height: 20px;
}

.desserts {
    display: flex;
    margin-left: 76px;
    margin-top: -20px;
    width: 18%;
    height: 20px;


}

textarea {
    margin-left: 50px;
    width: 80%;
    height: 60px;
    border-radius: 2px;
    margin-top: 8px;
}



button {
    display: block;
    margin-left: 254px;
    margin-top: 10px;
    width: 18%;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(243, 62, 150);
    color: rgb(255, 255, 255);
    border-style: double;
    border-color: rgb(255, 255, 255);
}


@keyframes container {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

button:hover {
    animation-name: container;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


fieldset {
    padding: 0.5rem 0;
    margin: 0;
    border: 0;
}

hr {
    padding: 0.2px;
    background-color: rgb(243, 62, 150);
    border-color: rgb(243, 62, 150);
    margin-top: 10px;
}

footer {
    margin-bottom: 20px;
}