@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=VT323&display=swap');

.data {
    text-align: center;
    display: inline-flexbox;
}


h1 {
    font-family: 'VT323', monospace;
    font-size: 50px;
    text-align: center;
    color: rgb(90, 56, 56);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(90, 56, 56);
    margin-top: -20px;
}


p {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    margin-top: 10px;

}


.comments {
    text-align: center;
}

label {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

main {
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
}

body {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 650px;
    background-image: url(https://www.artepapeldecor.com.br/media/com_eshop/products/resized/Papel-de-Parede-Lullaby-227-2-500x500.jpg);
}

#name {
    width: 45%;
    margin-left: 2x;
    text-align: left;
    margin-bottom: 10px;
}

#email {
    width: 45%;
    margin-left: 2px;
    text-align: left;
    margin-bottom: 10px;
}


#number {
    width: 45%;
    margin-left: 14px;
    text-align: left;
    margin-bottom: 10px;
}


.to {
    margin-bottom: -20px;
}


.reason {
    display: flex;
    margin-left: 130px;
    margin-top: -1px;
    margin-bottom: 30px;
    width: 50%;
    height: 20px;
}

.favorite {
    margin-bottom: 30px;
}


img {
    width: 32px;
    margin-left: -3px;
    margin-top: -20px;
    margin-bottom: -3px;
}


.sec-icon {
    width: 32px;
    margin-left: -3px;
    margin-top: -17px;
    margin-bottom: 20px;
}

.favorite-item {
    margin-bottom: 40px;

}

.label-coffee {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: rgb(90, 56, 56);
    margin-left: 19px;
    margin-top: -25px;
}

.coffee {
    display: flex;
    margin-left: 100px;
    margin-top: -22px;
    width: 30%;
    height: 20px;
}

.label-desserts {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: rgb(90, 56, 56);
    margin-left: 20px;
    margin-top: 37px;
    margin-bottom: 2px;
}

.desserts {
    display: flex;
    margin-left: 130px;
    margin-top: -22px;
    width: 30%;
    height: 20px;
}

.recommend {
    margin-top: 20px;
    margin-bottom: 20px;
}


textarea {
    margin-left: 50px;
    width: 80%;
    height: 60px;
    border-radius: 2px;
    margin-top: 8px;
}



button {
    display: block;
    margin-left: 230px;
    margin-top: 10px;
    width: 25%;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(90, 56, 56);
    color: rgb(255, 255, 255);
    border-style: double;
    border-color: rgb(255, 255, 255);
    font-family: 'VT323', monospace;
    font-size: 20px;
}



@keyframes container {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

button:hover {
    animation-name: container;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


fieldset {
    padding: 0.5rem 0;
    margin: 0;
    border: 0;
}

hr {
    padding: 0.3px;
    background-color: rgb(90, 56, 56);
    margin-top: 10px;
}

footer {
    margin-bottom: 50px;
}